@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      color: #fff;
      background: #0b0424;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .bg{
      background-image: url(/IMG-20201208-WA0017.jpg);

  }
}

@layer components {
  .menulink {
      @apply cursor-pointer hover:text-[#c5c5c5];
  }
}

.tags {
  background-color: #1e0283;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 3px 10px;
  display: inline-block;
  color: #fff;
  font-size: 12px;

}

.tags:last-child {
  margin-right: 0;
}

.tags:nth-child(2) {
  background-color: rgb(25, 61, 4);
}

.tags:nth-child(3) {
  background-color: rgb(88, 1, 20)
}

.tags:nth-child(4) {
  background-color: rgb(71, 61, 0);
}